*{vertical-align: middle;}
html,body{margin: 0;padding: 0;background-color: #eaedf1}
a{text-decoration: none;}
input{margin: 0;padding: 0;}

#app{width: auto;max-width: 800px;margin: 0 auto;padding: 0 10px;position: relative;}
.view{width: 500px;height: auto;float: left;}
.ctrl{width: 260px;height: auto;float: left;margin-left: 20px;padding: 0 10px;}

.wrap{box-shadow: 0 1px 1px rgba(0,0,0,0.15);background-color: #fff;}

/*view*/

.head{width: 100%;height: 60px;background: #f5f5f6;}
.foot{width: 100%;text-align: center;line-height: 2;font-size: 12px;color: #ccc;}

.menu{}
.list{margin: 10px auto;padding: 0 10px;}

.sort{margin: 0 0 10px 0}
.sort .sortby{width: auto;height: 26px;display: inline-block;margin-right: 10px;line-height: 26px;cursor: pointer;color: #666;}
.sort .sortby:after{width: 20px;height: auto;display: block;content: '';float: right;text-align: center;font-size: 14px;}
.sort .sortby.active{color: #000;font-weight: bold;}
.sort .sortby.active.ASC:after{content: '\e619'}
.sort .sortby.active.DESC:after{content: '\e61a'}

.list button{width: 48px}

.list table{width: 100%;border-collapse: collapse;}
.list table tr{height: 38px;border-bottom: solid 1px #f1f1f1;}
.list table tr:hover{background: #f1f1f1}
.list table tr:hover button{border-color: #009688;}
.list table td{text-align: center;line-height: 30px;}
.list table td.l{text-align: left;}
.list table td.r{text-align: right;}

.list.order table tr{height: 50px;}
.list.order .amount{height: 30px;display: block;line-height: 30px}
.list.order .fee{height: 20px;display: block;line-height: 20px;font-size: 12px;color: #666}

/*ctrl*/
.ctrl>div{padding: 20px 0;border-bottom: solid 1px #eaedf1;position: relative;}
.ctrl>div:first-child{padding: 0}
.ctrl>div:last-child{border-bottom: 0}

.code img{width: 160px;height: 60px;}
.code input{width: 80px;height: 40px;text-align: center;font-size: 20px;}

.user img{width: 60px;height: 60px;border-radius: 60px}
.user>span{margin-left: 10px;display: inline-block;line-height: 30px;}

.rush .title{width: auto;height: 24px;position: absolute;top: 7.5px;left: 5px;padding: 0 5px;line-height: 24px;background: #fff;color: #5FB878}


.degree,.genera{display: inline-block;background: #fff;padding: 0 5px;line-height: 20px;color: #fff;font-size: 14px;border-radius: 2px;}
.degree_0{background-color: #bbbbbb}
.degree_1{background-color: #ff6666}
.degree_2{background-color: #339999}
.degree_3{background-color: #cc4125}
.degree_4{background-color: #e69138}
.degree_5{background-color: red}
.genera{background: #D3931A}

.list table tr
{
    transition: background .3s;
    -moz-transition: background .3s;
    -webkit-transition: background .3s;
    -o-transition: background .3s;
}


/*layui*/
.layui-btn .layui-icon{margin-right: 0}

.rush .layui-form{border: solid 1px #5FB878;padding: 20px 10px 10px 10px;}
.rush .layui-form-label{width: 60px;padding-left: 0;}
/*.rush .layui-form-checkbox{float: left;}*/
.rush .layui-input{width: auto;}

.rush .term-rare .layui-form-checkbox{margin-right: 4px;padding-right: 0}
.rush .term-rare .layui-form-checkbox span{}
.rush .term-rare .layui-form-checkbox i{display: none;}
.rush .term-rare .layui-form-checkbox:nth-child(3n){margin-right: 0}
.rush .layui-btn{width: 100%}