<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>莱茨助手</title>
<script type="text/javascript" src="static/jquery.min.js"></script>
<script type="text/javascript" src="static/vue.min.js"></script>
<script type="text/javascript" src="static/layer.js"></script>
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<div id="app">
    <div class="view">
        <div class="head">
            <span v-for="v in menu_list" :class="'menu ' + (v==menu?'active':'')">{{v | menu}}</span>
        </div>
        <div class="list">
            <div class="sort">
                <span>排序 - </span>
                <span v-for="v in sort_name" :class="'sortby '+sort_mode+(v==sort_type?' active':'')" @click="sort_click(v)">{{v | sortname}}</span>
                <span style="float: right;"><button @click="F.get()">刷新</button></span>
            </div>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr v-for="v in list">
                    <td class="l"><span :class="'degree degree_'+v.rareDegree">{{v.rareDegree | raredegree}}</span></td>
                    <td>{{v.generation}} 代</td>
                    <td class="r">{{v.amount}} 微</td>
                    <td class="r">
                        <a href="javascript:;">{{v.id}}</a>
                        <button @click="F.buy(v)">购买</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="foot">莱茨狗 当前在售:{{sale}}<br>仅供交流学习使用，禁止用于商业用途。</div>
    </div>
    <div class="ctrl" v-if="user.userName">
        <div class="code">
            <img :src="'data:image/jpeg;base64,'+vimg" @click="F.gen()">
            <input v-model="vipt">
        </div>
        <div class="user">
            <img :src="user.headIcon">
            <span>
                <b>{{user.userName}}&nbsp;&nbsp;&nbsp;${{user.amount}}</b><br>
                <a href="javascript:;" @click="logout()">退出</a>
            </span>
        </div>
    </div>
    <button v-else @click="login()">登录Baidu账号</button>
</div>
</body>
<script type="text/javascript">
$(function(){
    App = new Vue({
        el: '#app',
        data: {
            list: [],
            sale: 0,
            vimg: '',
            seed: '',
            vipt: '',
            sort_name: ['RAREDEGREE','AMOUNT','CREATETIME'],
            sort_type: 'CREATETIME',
            sort_mode: 'DESC',
            // menu
            menu_list: ['market','pet','order'],
            menu: 'market',
            // user
            user: {},
            pets: []
        },
        methods: {
            login: function(){
                layer.prompt({
                    formType: 2,
                    value: '',
                    title: '请输入Baidu.com登录后的cookie',
                    area: ['300px', '100px']
                }, function(val, index){
                    Config.cookie = val
                    layer.close(index)
                    F.writeCookie()
                    F.user()
                    F.gen()
                })
            },
            logout: function(){
                F.clearCookie()
                App.user = {}
            },
            sort_click: function(v){
                if(v == this.sort_type){
                    this.sort_mode = this.sort_mode == 'ASC' ? 'DESC' : 'ASC'
                }else{
                    this.sort_mode = 'DESC'
                    this.sort_type = v
                }
                F.get()
            }
        },
        filters: {
            raredegree: function(v){
                var o = {
                    '0': '普通',
                    '1': '稀有',
                    '2': '卓越',
                    '3': '史诗',
                    '4': '神话',
                    '5': '传说'
                }
                return o[v] || ''
            },
            generation: function(v){},
            menu: function(v){
                var o = {
                    'market':   '集市',
                    'pet':      '狗窝',
                    'order':    '订单'
                }
                return o[v] || ''
            },
            sortname: function(v){
                var o = {
                    'RAREDEGREE': '稀有度',
                    'AMOUNT':     '价格',
                    'CREATETIME': '时间'
                }
                return o[v] || ''
            }
        }
    })

    Config = {}

    $.ajaxSetup({
        type: 'POST',
        dataType: 'json',
        contentType: 'application/json',
        timeout : 5000,
        async: true
    })

    // F.writeCookie()

    F.gen()
    F.get()
    F.user()
})

var F = {
    // 获取数据
    get: function(){
        var rdata = {
            'pageNo':           1,
            'pageSize':         20,
            'querySortType':    App.sort_type + '_' + App.sort_mode,
            'petIds':           [],
            'lastAmount':       null,
            'lastRareDegree':   null,
            'requestId':        new Date().getTime(),
            'appId':            1,
            'tpl':              '',
            'timeStamp':        null,
            'nounce':           null,
            'token':            null
        }

        $.ajax({
            type: 'POST',
            url: '/data/market/queryPetsOnSale',
            contentType: 'application/json',
            data: JSON.stringify(rdata),
            dataType: 'json',
            beforeSend:function(request){
                // request.setRequestHeader("Authorization", token)
            },
            success: function (data) {
                console.log(data)
                if(data.errorNo != '00') return console.log('request error')

                App.list = data.data.petsOnSale
                App.sale = data.data.totalCount
            }
        })
    },
    // 验证码
    gen: function(){
        var rdata = {
            'requestId':    new Date().getTime(),
            'appId':        1,
            'tpl':          '',
            'timeStamp':    null,
            'nounce':       null,
            'token':        null
        }

        $.ajax({
            type: 'POST',
            url: '/data/captcha/gen',
            contentType: 'application/json',
            data: JSON.stringify(rdata),
            dataType: 'json',
            beforeSend:function(request){
                // request.setRequestHeader("Authorization", token)
            },
            success: function (data) {
                console.log(data)
                if(data.errorNo != '00') return console.log('request error')

                App.vimg = data.data.img
                App.seed = data.data.seed
                App.vipt = ''
            }
        })
    },
    // 购买
    buy: function(v){
        var rdata = {
            'petId':        v.petId,
            'amount':       v.amount,
            'seed':         App.seed,
            'captcha':      App.vipt,
            'validCode':    v.validCode,
            'requestId':    new Date().getTime(),
            'appId':        1,
            'tpl':          '',
            'timeStamp':    null,
            'nounce':       null,
            'token':        null
        }

        $.ajax({
            type: 'POST',
            url: '/data/txn/create',
            contentType: 'application/json',
            data: JSON.stringify(rdata),
            dataType: 'json',
            beforeSend:function(request){
                // request.setRequestHeader("Authorization", token)
            },
            success: function (data) {
                console.log(data)
                // if(data.errorNo != '00') return console.log('request error')
                layer.msg(data.errorMsg)
            },
            complete: function(){
                F.gen()
            }
        })
    },
    // 从配置写入cookie
    writeCookie: function(){
        var cookies = $.trim(Config.cookie).split(';')
        if(!cookies.length) return
        for(var k in cookies)
            document.cookie = cookies[k]
    },
    // 注销/清空cookie
    clearCookie: function() {
        var keys = document.cookie.match(/[^ =;]+(?=\=)/g)
        if(!keys.length) return
        for(var k in keys)
            document.cookie = keys[k] + '=0;expires=' + new Date(0).toUTCString()
    },
    // 账户信息
    user: function(){
        var rdata = {
            'requestId':    new Date().getTime(),
            'appId':        1,
            'tpl':          '',
            'timeStamp':    null,
            'nounce':       null,
            'token':        null
        }

        $.ajax({
            url: '/data/user/get',
            data: JSON.stringify(rdata),
            success: function (data) {
                console.log(data)
                if(data.errorNo != '00') return console.log('request error')

                App.user = data.data
            }
        })
    },
    // 我的狗狗
    pets: function(){}
}
</script>
</html>