<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>莱茨助手</title>
<script type="text/javascript" src="static/jquery.min.js"></script>
<script type="text/javascript" src="static/vue.min.js"></script>
<script type="text/javascript" src="static/layer.js"></script>
<script type="text/javascript" src="static/script.js"></script>
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<div id="app">
    <!-- 左侧列表 -->
    <div class="view">
        <div class="head">
            <span v-for="v in menu_list" :class="'menu ' + (v==menu?'active':'')" @click="menu_click(v)">{{v | menu}}</span>
        </div>
        <!-- market -->
        <div class="list" v-if="menu=='market'">
            <div class="sort">
                <span>排序 - </span>
                <span v-for="v in sort_name" :class="'sortby '+sort_mode+(v==sort_type?' active':'')" @click="sort_click(v)">{{v | sortname}}</span>
                <span style="float: right;"><button @click="F.get()">刷新</button></span>
            </div>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr v-for="v in list">
                    <td class="l"><span :class="'degree degree_'+v.rareDegree">{{v.rareDegree | raredegree}}</span></td>
                    <td>{{v.generation}} 代</td>
                    <td class="r">{{v.amount}} 微</td>
                    <td class="r">
                        <a href="javascript:;">{{v.id}}</a>
                        <button @click="F.buy(v)">购买</button>
                    </td>
                </tr>
            </table>
        </div>
        <!-- pet -->
        <div class="list" v-if="menu=='pet'">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr v-for="v in pet_list">
                    <td class="l"><span :class="'degree degree_'+v.rareDegree">{{v.rareDegree | raredegree}}</span></td>
                    <td>{{v.generation}} 代</td>
                    <td class="r">{{v.petName}}</td>
                    <td class="r">{{v.chainStatus}}</td>
                </tr>
            </table>
        </div>
        <!-- order -->
        <div class="list" v-if="menu=='order'">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr v-for="v in order_list">
                    <td>{{v.status | status}}</td>
                    <td>{{v.transDate}}</td>
                    <td>
                        <span>{{v.status==1?'+':'-'}}{{v.amount}}</span>
                        <template v-if="v.status==2"><br><span>含手续费{{v.fee}}</span></template>
                    </td>
                </tr>
            </table>
        </div>
        <div class="foot">莱茨狗 当前在售:{{sale}}<br>仅供交流学习使用，禁止用于商业用途。</div>
    </div>
    <!-- 右侧控制 -->
    <div class="ctrl" v-if="user.userName">
        <div class="code">
            <img :src="'data:image/jpeg;base64,'+vimg" @click="F.gen()">
            <input v-model="vipt">
        </div>
        <div class="user">
            <img :src="user.headIcon">
            <span>
                <b>{{user.userName}}&nbsp;&nbsp;&nbsp;${{user.amount}}</b><br>
                <a href="javascript:;" @click="logout()">退出</a>
            </span>
        </div>
    </div>
    <button v-else @click="login()">登录Baidu账号</button>
</div>
</body>
</html>